<div class="container">
  <div class="row">
    <div class="col">

      <ul class="list-group">
        <li (click)="onClick(item)" *ngFor="let item of items" class="list-group-item">
          {{item}}
        </li>
      </ul>

      <span [ngSwitch]="current">
        <p *ngSwitchCase="1">
          1
        </p>
        <p *ngSwitchCase="2">
          2
        </p>
        <p *ngSwitchCase="3">
          3
        </p>
        <p *ngSwitchDefault>
          default
        </p>
      </span>

    </div>
  </div>
</div>